extends ../layout
block content
  include ../includes/tables
  script.
    var tbodyBids = document.querySelector('#table-bids tbody')
    var tfootBids = document.querySelector('#table-bids tfoot')
    var tbodyAsks = document.querySelector('#table-asks tbody')
    var tfootAsks = document.querySelector('#table-asks tfoot')
    var wsUrl = !{ JSON.stringify(wsUrl) }
    var ws = new WebSocket(wsUrl)
    ws.onopen = function () {
      tbodyBids.innerHTML = '<tr><td colspan="3" class="text-center">Loading...</td></tr>'
      tbodyAsks.innerHTML = '<tr><td colspan="3" class="text-center">Loading...</td></tr>'
    }
    var cached = {
      data: { bids: [], asks: [] },
      timestamp: new Date(),
    }
    ws.onmessage = function (msg) {
      const data = JSON.parse(msg.data)
      const current = new Date().getTime()
      if (current - cached.timestamp >= 3000) {
        cached.data = data
        cached.timestamp = current
        updateTables()
      }
    }
    function updateTables() {
      var { bids, asks } = cached.data
      var totalBids = 0
      var bidRows = ''
      bids.forEach(([price, size], idx) => {
        bidRows += `<tr><td>${idx+1}</td><td>${size}</td><td>${price}</td></tr>`
        totalBids += +price * +size
      })
      tbodyBids.innerHTML = bidRows
      tfootBids.innerHTML = `<tr><td colspan="3" class="text-center">Total amount (size * price): ${totalBids.toPrecision(8)}</td></tr>`

      var totalAsks = 0
      var askRows = ''
      asks.forEach(([price, size], idx) => {
        askRows += `<tr><td>${idx+1}</td><td>${price}</td><td>${size}</td></tr>`
        totalAsks += +size
      })
      tbodyAsks.innerHTML = askRows
      tfootAsks.innerHTML = `<tr><td colspan="3" class="text-center">Total ask size: ${totalAsks.toPrecision(8)}</td></tr>`
    }